// 1. Parámetros por defecto
params {
    reads           = "data/PRJEB79238/*_{1,2}.fastq.gz"
    renameInput     = 'results/asemb/spades/*/contigs.fasta'
    renameOutput    = 'results/asemb/contigs'
    bwacontigs      = 'results/asemb/contigs/*.fasta'
    bwareads        = 'results/trim/trimmomatic/trimmed_reads/*_{1,2}_pair.fastq.gz'
    bwaOutput       = 'results/asemb/contigs/bam/*.bam'
    metabatInput    = 'results/asemb/spades/*.fastq.gz'
    checkmInput     = ''
    metabatOutdir   = "results/binning/metabat" // find others
    checkmOutdir    = "results/binning/checkm-reports"
    
    cpus     = 4
    memory   = "4 GB"
    metabat = "metabat"
}


profiles {

    /***************
     * LOCAL
     ***************/
    local {
        process.executor = 'local'
    }

    /***************
     * CONDA
     ***************/
    conda {
        conda.enabled = true
        conda.autoActivate = true

        conda.channels = ['conda-forge', 'bioconda', 'defaults']

        process {
            withName: BWA {
                conda = 'bioconda::bwa=0.7.17 bioconda::samtools=1.17'
            }
        }
    }

    /***************
     * DOCKER
     ***************/
    docker {
        process.executor = 'local'
        docker.enabled = true

        docker.runOptions = '--userns=keep-id'

        process {
            withName: BWA {
                container = 'docker.io/biocontainers/bwa:v0.7.17_cv1'
            }
        }
    }
}

