// 1. Parámetros por defecto (pueden ser sobrescritos por línea de comandos)
params {
    reads    = 'results/trim/trimmomatic/trimmed_reads/*.fastq.gz'
    adapters = "${projectDir}/adapters/TruSeq3-PE.fa"
    outdir   = "kraken" // kraken2, braken
    db = null // new to download and configure databases. Search for plants as well. 
    confidence = 0.95
    cpus     = 4
    memory   = "4 GB"
    kraken = "kraken"
    kraken2 = "kraken2"
    braken = "braken" 

}

// 2. Configuración de perfiles de ejecución
profiles {
    local {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process.container = 'kingabz1/kraken2:latest'  // Contenedor Docker con Kraken2
    }
     
}

// 3. Gestión de recursos por proceso
process {
    withName: KRAKEN2 {
        cpus   = params.cpus
        memory = params.memory
        env.KRAKEN2_DB_PATH = '/home/mikdat/silva_db' // for kraken2 knows where to search for SILVA
    }
}

// 4. Reportes de ejecución (generan archivos útiles al terminar)
timeline.enabled = true
report.enabled   = true
trace.enabled    = true
dag.enabled      = true