// 1. Parámetros por defecto (pueden ser sobrescritos por línea de comandos)
params {
    reads    = 'results/trim/trimmomatic/trimmed_reads/*_{1,2}_pair.fastq.gz'
    unpaired = 'results/trim/trimmomatic/trimmed_reads/*_upair.fastq.gz'
    outdir   = "results/asemb/spades" // find others
    cpus     = 2
    memory   = "4 GB"
    metaspades = "metaspades"
}

// 2. Configuración de perfiles de ejecución
profiles {
    local {
        process.executor = 'local'
    }
    
    docker {
        // podman pull docker.io/staphb/spades:latest to install container
        docker.enabled         = true
        process.container      = 'staphb/spades:latest'
    }
    
}

// 3. Gestión de recursos por proceso
/*
process {
    withName: SPADES {
        cpus   = params.cpus
        memory = params.memory
        container = 'staphb/spades:latest'
    }
}
*/

process {
    withName: MSPADES {
        cpus   = params.cpus
        memory = params.memory
        container = 'staphb/spades:latest'
    }
}

// 4. Reportes de ejecución (generan archivos útiles al terminar)
timeline.enabled = true
report.enabled   = true
trace.enabled    = true
dag.enabled      = true